@import "tailwindcss";

@theme{
  --color-brand-blue-950: hsl(233, 26%, 24%);
  --color-brand-green-500: hsl(136, 64%, 51%);
  --color-brand-cyan-400: hsl(192, 69%, 51%);
  --color-brand-gray-600: hsl(233, 8%, 62%);
  --color-brand-gray-100: hsl(220, 16%, 96%);
  --color-brand-gray-50: hsl(0, 0%, 98%);
  --color-brand-white: hsl(0, 100%, 100%);
  --font-public-sans: "Public Sans", sans-serif;
  --breakpoint-sm: 650px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}



@utility flex-col-center{
  @apply flex flex-col flex-wrap content-center gap-6 items-center justify-center;
}

